<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Образовательные программы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            overflow-y: hidden;
        }

        .header {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background-color: #212529;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            z-index: 1000;
            text-align: center;
            line-height: 60px;
            font-size: 1.4em;
            font-weight: bold;
        }

        .form-group {
            font-size: 0.85em;
        }

        .input-group{
            position: relative;
            padding: 5px;
            margin-bottom: 0;
        }

        .form-control.name {
            width: 60%;
            height: 30px;
            background-color: #212529;
            color: #fff;
        }

        .form-control::placeholder {
            color: #ffffff;
            font-family: inherit;
        }

        .mb-3 {
            margin-left: 10px;
            margin-bottom: 10px;
        }

        .form-row {
            display: flex;
            flex-wrap: wrap;
            margin-left: 5px;
            margin-bottom: 5px;
        }

        .container-fluid {
            height: 100vh;
            padding: 0px;
            overflow: hidden;
        }

        .reset-filter-button {
            position: fixed;
            top: 63px;
            right: 100px;

        }

        .back {
            position: fixed;
            top: 63px;
            right: 20px;
        }

        .table-container {
            height: 85vh;
            overflow-y: scroll;
        }



        thead tr {
            position: sticky;
            top: 0px;
            background: #212529;
            z-index: 10;
            user-select: none;
        }

        .table td {
            padding: 5px;
            font-size: 0.85em;
            width: fit-content;
        }
        .table th {
            padding: 10px;
            font-size: 1em;
        }

        .dropdown-menu {
            max-height: 200px;
            overflow-y: scroll;
            overflow-x: hidden;
            max-width: 1000px;
        }
    </style>
</head>
<body>
    <div class="header">
        Анализ данных по образовательным программам
    </div>

    <!-- Кнопка меню -->
    <div class="btn-group dropstart" style="position: fixed; top: 10px; right: 10px; z-index: 1000;">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Меню
        </button>
        <ul class="dropdown-menu" style="overflow-y: hidden;">
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#filterModal">Фильтр</a></li>
            <li><a class="dropdown-item" href="#">Программа обучения</a></li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#analyticsModal">Аналитика</a></li>
            <li><a class="dropdown-item" href="#" onclick="window.location.href='/vuz/'">Главная</a></li>
        </ul>
    </div>

    <!-- Модальное окно для Аналитики -->
    <div class="modal fade" id="analyticsModal" tabindex="-1" aria-labelledby="analyticsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="analyticsModalLabel">Аналитика</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-primary" onclick="window.location.href='/vuz/analitic/district/'">
                            Аналитика по округам
                        </button>
                        <button type="button" class="btn btn-primary" onclick="window.location.href='#'">
                            Аналитика по программе
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

     <!-- Модальное окно с фильтрами -->
     <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">Фильтры</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="mb-3">
                            <select id="programFilter" class="form-select">
                                <option value="">Название программы</option>
                                {% for name in fieldname %}
                                <option value="{{ name.fieldid__fieldname }}">{{ name.fieldid__fieldname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <select id="educationLevelFilter" class="form-select">
                                <option value="" selected>Уровень образования</option>
                                {% for pr in prog %}
                                <option value="{{ pr.progid__progname }}">{{ pr.progid__progname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                         <div class="mb-3">
                            <select id="studyFormFilter" class="form-select">
                                <option value="" selected>Форма обучения</option>
                                {% for form in formname %}
                                <option value="{{ form.formname }}">{{ form.formname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="resetButton">Сбросить фильтр</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" style="box-shadow: 15px 15px 50px grey">
        {% if main_obj and main_obj|length > 0 %}
            <h2 style="margin: 5px 10px; width: 80%; font-size: 1.4em;">{{ main_obj.0.id_vuz.name }}</h2>
        {% else %}
            <h2 style="margin: 5px 10px; width: 80%; font-size: 1.4em;">Нет данных</h2>
        {% endif %}
        <div class="table table-container table-hover">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>№</th>
                    <th>
                        <input type="text" id="nameSearch" class="form-control name" placeholder="Наименование">
                        <div id="suggestions" class="dropdown-menu"></div>
                    </th>
                    <th>Код</th>
                    <th>Уровень</th>
                    <!-- <th>Профиль</th> -->
                    <th>Форма</th>
                    <th style="font-size: 0.8em;">Курс 1</th>
                    <th style="font-size: 0.8em;">Курс 2</th>
                    <th style="font-size: 0.8em;">Курс 3</th>
                    <th style="font-size: 0.8em;">Курс 4</th>
                    <th style="font-size: 0.8em;">Курс 5</th>
                    <th style="font-size: 0.8em;">Курс 6</th>
                    <th style="font-size: 0.8em;">Курс 7</th>
                </tr>
            </thead>
            <tbody id="programTableBody">
                {% for item in main_obj %}
                <tr data-id="{{ item.fieldid.fieldid }}">
                    <td>{{ forloop.counter }}</td>
                    <td class="program-name">{{ item.fieldid.fieldname }}</td>
                    <td>{{ item.fieldid.fieldid }}</td>
                    <td>{{ item.progid.progname }}</td>
                    <!-- <td>{{ item.profile }}</td> -->
                    <td>{{ item.formname }}</td>
                    <td>{% if item.course1 %}{{ item.course1 }}{% endif %}</td>
                    <td>{% if item.course2 %}{{ item.course2 }}{% endif %}</td>
                    <td>{% if item.course3 %}{{ item.course3 }}{% endif %}</td>
                    <td>{% if item.course4 %}{{ item.course4 }}{% endif %}</td>
                    <td>{% if item.course5 %}{{ item.course5 }}{% endif %}</td>
                    <td>{% if item.course6 %}{{ item.course6 }}{% endif %}</td>
                    <td>{% if item.course7 %}{{ item.course7 }}{% endif %}</td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="13" class="text-center">Данные отсутствуют</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</body>

<script>
    // Ссылка на аналитику по программам
    document.addEventListener('DOMContentLoaded', function() {
        const select = document.getElementById('analiticProgSelect');
        
        select.addEventListener('change', function() {
            const fieldId = this.value; // Получаем выбранное значение
            if (fieldId) { // Проверяем, что выбрана не пустая опция
                window.location.href = `/vuz/analitic/prog/${fieldId}/`;
            }
        });
    });
</script>

<script>
    function filterTable() {
        const programFilter = document.getElementById('programFilter').value;
        const educationLevelFilter = document.getElementById('educationLevelFilter').value;
        const studyFormFilter = document.getElementById('studyFormFilter').value;

        const tableBody = document.getElementById('programTableBody');
        const rows = tableBody.getElementsByTagName('tr');
        
        const availablePrograms = new Set();
        const availableEducationLevels = new Set();
        const availableStudyForms = new Set();

        for (let i = 0; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            const program = cells[1].textContent;
            const educationLevel = cells[3].textContent;
            const studyForm = cells[4].textContent;

            // Проверка условий фильтрации
            const programMatch = programFilter === '' || program.toLowerCase() === programFilter.toLowerCase();
            const educationLevelMatch = educationLevelFilter === '' || educationLevel.toLowerCase() === educationLevelFilter.toLowerCase();
            const studyFormMatch = studyFormFilter === '' || studyForm.toLowerCase() === studyFormFilter.toLowerCase();

            // Установка видимости строки
            rows[i].style.display = programMatch && educationLevelMatch && studyFormMatch ? 'table-row' : 'none';
            
            // Добавление доступных значений фильтров
            if (rows[i].style.display === 'table-row') {
                availablePrograms.add(program);
                availableEducationLevels.add(educationLevel);
                availableStudyForms.add(studyForm);
            }
        }

        // Обновление опций фильтров
        updateFilterOptions('programFilter', availablePrograms);
        updateFilterOptions('educationLevelFilter', availableEducationLevels);
        updateFilterOptions('studyFormFilter', availableStudyForms);
    }

    function updateFilterOptions(filterId, availableValues) {
    const filterElement = document.getElementById(filterId);
    const currentValue = filterElement.value;

    // Удаляем все опции, кроме первой (которая "Все")
    while (filterElement.options.length > 1) {
        filterElement.remove(1);
    }

    // Добавляем доступные значения, без изменения регистра
    availableValues.forEach(value => {
        let option = document.createElement('option');
        option.value = value;
        option.textContent = value; // Убираем изменения регистра
        filterElement.appendChild(option);
    });

    // Восстанавливаем выбранное значение, если оно доступно
    if (availableValues.has(currentValue)) {
        filterElement.value = currentValue;
    } else {
        filterElement.value = ""; // Сбрасываем значение, если оно отсутствует
    }
}

    // Обработчики событий для фильтров
    document.getElementById('programFilter').addEventListener('change', filterTable);
    document.getElementById('educationLevelFilter').addEventListener('change', filterTable);
    document.getElementById('studyFormFilter').addEventListener('change', filterTable);

    function resetFilters() {
    // Сброс значений фильтров
        document.getElementById('programFilter').value = '';
        document.getElementById('educationLevelFilter').value = '';
        document.getElementById('studyFormFilter').value = '';
        document.getElementById('nameSearch').value = '';

        // Пересчитываем таблицу без фильтров
        filterTable();
    }

     // Обработчик события для кнопки сброса
    document.getElementById('resetButton').addEventListener('click', resetFilters);

    function goBack() {
        window.history.back(); // Возвращает на предыдущую страницу
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const table = document.querySelector(".table.table-bordered");
        const headers = table.querySelectorAll("th");
        const tbody = table.querySelector("tbody");
        const nameInput = document.getElementById("nameSearch");

        headers.forEach((header, index) => {
            if (index !== 1) { // Отключаем сортировку для столбца "Наименование"
                header.style.cursor = "pointer";
                header.addEventListener("click", () => {
                    sortTableByColumn(table, index);
                });
            } else {
                header.addEventListener("click", (event) => {
                    if (event.target !== nameInput) {
                        sortTableByColumn(table, index);
                    }
                });
            }
        });

        function sortTableByColumn(table, columnIndex) {
            const rows = Array.from(tbody.querySelectorAll("tr"));
            const isAscending = table.dataset.sortOrder !== "asc";
            
            rows.sort((rowA, rowB) => {
                const cellA = rowA.cells[columnIndex].textContent.trim();
                const cellB = rowB.cells[columnIndex].textContent.trim();
                
                const isNumeric = !isNaN(cellA) && !isNaN(cellB) && cellA !== "" && cellB !== "";
                if (isNumeric) {
                    return isAscending ? cellA - cellB : cellB - cellA;
                }
                return isAscending ? cellA.localeCompare(cellB) : cellB.localeCompare(cellA);
            });
            
            tbody.innerHTML = "";
            rows.forEach(row => tbody.appendChild(row));
            
            table.dataset.sortOrder = isAscending ? "asc" : "desc";
        }
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const input = document.getElementById("nameSearch");
        const suggestions = document.getElementById("suggestions");
        const names = new Set([...document.querySelectorAll(".program-name")].map(el => el.textContent.trim()));
        const nameArray = Array.from(names).sort();

        input.addEventListener("input", function() {
            const value = this.value.toLowerCase();
            suggestions.innerHTML = "";
            if (value) {
                const filtered = nameArray.filter(name => name.toLowerCase().includes(value));
                filtered.sort();
                filtered.forEach(name => {
                    const item = document.createElement("div");
                    item.classList.add("dropdown-item");
                    item.textContent = name;
                    item.addEventListener("click", function() {
                        input.value = name;
                        suggestions.innerHTML = "";
                        filterTable(name);
                    });
                    suggestions.appendChild(item);
                });
                suggestions.style.display = filtered.length ? "block" : "none";
            } else {
                suggestions.style.display = "none";
            }
        });

        document.addEventListener("click", function(event) {
            if (!input.contains(event.target) && !suggestions.contains(event.target)) {
                suggestions.style.display = "none";
            }
        });

        function filterTable(name) {
            document.querySelectorAll("#programTableBody tr").forEach(row => {
                const cell = row.querySelector(".program-name");
                if (cell) {
                    row.style.display = cell.textContent.trim() === name ? "" : "none";
                }
            });
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</html>