<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица Main и Training</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">
    <style>
        .table-container {
            height: 80vh;
            overflow-y: scroll;
            user-select: none;
        }

        /* Фиксируем заголовок таблицы здесь */
        thead th {
            position: sticky;
            top: 0px;
            background: #212529;
            z-index: 10;
        }

        tbody tr {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container mt-4" style="box-shadow: 15px 15px 50px grey">
        {% if main_obj and main_obj|length > 0 %}
            <h2>{{ main_obj.0.id_vuz.name }}</h2>
        {% else %}
            <h2>Нет данных</h2>
        {% endif %}
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="programFilter">Название программы</label>
                <select id="programFilter" class="form-control">
                    <option value="">Все</option>
                    {% for name in fieldname %}
                    <option value="{{ name.fieldid__fieldname }}">{{ name.fieldid__fieldname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="educationLevelFilter">Уровень образования</label>
                <select id="educationLevelFilter" class="form-control">
                    <option value="">Все</option>
                    {% for pr in prog %}
                    <option value="{{ pr.progid__progname }}">{{ pr.progid__progname}}</option>
                    {% endfor %}
                </select>
            </div>
             <div class="form-group col-md-4">
                <label for="studyFormFilter">Форма обучения</label>
                <select id="studyFormFilter" class="form-control">
                    <option value="">Все</option>
                    {% for form in formname %}
                    <option value="{{ form.formname }}">{{ form.formname }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="table table-container table-responsive table-hover">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Номер</th>
                    <th>Название программы</th>
                    <th>Код программы</th>
                    <th>Уровень образования</th>
                    <th>Профиль</th>
                    <th>Форма обучения</th>
                    <th>Курс 1</th>
                    <th>Курс 2</th>
                    <th>Курс 3</th>
                    <th>Курс 4</th>
                    <th>Курс 5</th>
                    <th>Курс 6</th>
                    <th>Курс 7</th>
                </tr>
            </thead>
            <tbody id="programTableBody">
                {% for item in main_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.fieldid.fieldname }}</td>
                    <td>{{ item.fieldid.fieldid }}</td>
                    <td>{{ item.progid.progname }}</td>
                    <td>{{ item.profile }}</td>
                    <td>{{ item.formname }}</td>
                    <td>{% if item.course1 %}{{ item.course1 }}{% endif %}</td>
                    <td>{% if item.course2 %}{{ item.course2 }}{% endif %}</td>
                    <td>{% if item.course3 %}{{ item.course3 }}{% endif %}</td>
                    <td>{% if item.course4 %}{{ item.course4 }}{% endif %}</td>
                    <td>{% if item.course5 %}{{ item.course5 }}{% endif %}</td>
                    <td>{% if item.course6 %}{{ item.course6 }}{% endif %}</td>
                    <td>{% if item.course7 %}{{ item.course7 }}{% endif %}</td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="13" class="text-center">Данные отсутствуют</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>


     <script>
        function filterTable() {
            const programFilter = document.getElementById('programFilter').value.toLowerCase();
            const educationLevelFilter = document.getElementById('educationLevelFilter').value.toLowerCase();
            const studyFormFilter = document.getElementById('studyFormFilter').value.toLowerCase();

            const tableBody = document.getElementById('programTableBody');
            const rows = tableBody.getElementsByTagName('tr');

            for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                const program = cells[1].textContent.toLowerCase();
                const educationLevel = cells[3].textContent.toLowerCase();
                const studyForm = cells[5].textContent.toLowerCase();

                // Проверка условий фильтрации
                const programMatch = programFilter === '' || program === programFilter;
                const educationLevelMatch = educationLevelFilter === '' || educationLevel === educationLevelFilter;
                const studyFormMatch = studyFormFilter === '' || studyForm === studyFormFilter;

                // Установка видимости строки
                rows[i].style.display = programMatch && educationLevelMatch && studyFormMatch ? 'table-row' : 'none';
            }
        }

        // Обработчики событий для фильтров
        document.getElementById('programFilter').addEventListener('change', filterTable);
        document.getElementById('educationLevelFilter').addEventListener('change', filterTable);
        document.getElementById('studyFormFilter').addEventListener('change', filterTable);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>