<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIR</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Устанавливаем фиксированную высоту контейнера и включаем прокрутку */
        .table-container {
            height: 80vh;
            overflow-y: scroll;
            user-select: none;
        }

        /* Фиксируем заголовок таблицы здесь */
        thead th {
            position: sticky;
            top: 0px;
            background: #212529;
            z-index: 10;
        }

        tbody tr {
            cursor: pointer;
        }

        .hidden-column {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container mt-5" style="box-shadow: 15px 15px 50px grey">
    <h2>Данные о ВУЗах</h2>
    <div class="form-row">
            <div class="form-group col-md-4">
                <label for="vuzType">Тип ВУЗа</label>
                <select id="vuzType" class="form-control">
                    <option value="">Все</option>
                    <option value="Головные">Головные</option>
                    <option value="Филиалы">Филиалы</option>
                </select>
            </div>
    </div>
    <div class="table-container table-responsive table-hover">
        <table id="vuzTable" class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Номер</th>
                    <th class="hidden-column">Номер</th>
                    <th class="hidden-column">Номер</th>
                    <th>Название ВУЗа</th>
                    <th>Адрес</th>
                    <th>Округ</th>
                    <th>Регион</th>
                    <th>Министерство</th>
                </tr>
            </thead>
            <tbody class="table-hover" id="vuzTableBody">
                {% for item in vuz %}
                <tr data-id = "{{ item.id }}">
                    <td>{{ item.id }}</td>
                    <td class="hidden-column">{{ item.id_listedu }}</td>
                    <td class="hidden-column">{{ item.id_parent }}</td>
                    <td>{{ item.name}}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.id_district.district }}</td>
                    <td>{{ item.id_region.region }}</td>
                    <td>{{ item.id_ministry.ministry }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">Данные отсутствуют</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>


    <script>
    function filterVuzTable() {
        const programFilter = document.getElementById('vuzType').value;
        const tableBody = document.getElementById('vuzTableBody'); // предполагается, что это тело вашей таблицы
        const rows = tableBody.getElementsByTagName('tr');

        for (let i = 0; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            if (cells.length > 0) {
                const vuzIdParent = cells[1].textContent.trim();
                const vuzIdListedu = cells[2].textContent.trim();

                let isMatch = true;

                // Проверка условия фильтрации
                if (programFilter === "Головные") {
                    isMatch = (vuzIdParent === vuzIdListedu);
                } else if (programFilter === "Филиалы") {
                    isMatch = (vuzIdParent !== vuzIdListedu);
                }

                // Установка видимости строки
                rows[i].style.display = isMatch ? 'table-row' : 'none';
            }
        }
    }

    // Обработчик события для фильтра
    document.getElementById('vuzType').addEventListener('change', filterVuzTable);
    </script>
    <script>
    // JavaScript для обработки кликов по строкам таблицы
    document.addEventListener('DOMContentLoaded', function() {
        const rows = document.querySelectorAll('#vuzTable tbody tr');

        rows.forEach(row => {
            row.addEventListener('click', function() {
                const vuzId = this.getAttribute('data-id'); // Получаем значение из атрибута data-id
                window.location.href = `prog/${vuzId}/`; // Перенаправляем на новую ссылку
            });
        });
    });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>