<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIR</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .header {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background-color: #212529;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            z-index: 1000;
            text-align: center;
            line-height: 60px;
            font-size: 1.4em;
            font-weight: bold;
        }

        .container-fluid {
            height: 90vh;
            padding: 0px;
            overflow: hidden;
        }

        .table-container {
            height: 75vh;
            overflow-y: scroll;
            user-select: none;
        }

        thead th {
            position: sticky;
            top: 0px;
            background: #212529;
            z-index: 10;
        }

        tbody tr {
            cursor: pointer;
        }

        .hidden-column {
            display: none;
        }
    </style>
</head>
<body>
    <div class="header">
        Программное средство НИР
    </div>
    <div class="container-fluid" style="box-shadow: 15px 15px 50px grey">
        <h2 style="margin: 5px 10px;">Данные о ВУЗах</h2>
        <div class="form-row" style="margin: 0 10px;">
                <div class="form-group col-md-3">
                    <select id="vuzFilter" class="form-control">
                        <option value="" selected disabled>Тип ВУЗа</option>
                        <option value="" >Все</option>
                        <option value="Головные">Головные</option>
                        <option value="Филиалы">Филиалы</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <select id="districtFilter" class="form-control">
                        <option value="" selected disabled>Округ</option>
                        <option value="">Все</option>
                        {% for district in districts %}
                        <option value="{{ district.id_district__district }}">{{ district.id_district__district}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <select id="regionFilter" class="form-control">
                        <option value="" selected disabled>Регион</option>
                        <option value="">Все</option>
                        {% for region in regions %}
                        <option value="{{ region.id_region__region }}">{{ region.id_region__region}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <select id="ministryFilter" class="form-control">
                        <option value="" selected disabled>Министерства</option>
                        <option value="">Все</option>
                        {% for minist in ministry %}
                        <option value="{{ minist.id_ministry__ministry }}">{{ minist.id_ministry__ministry}}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>
        <div class="table-container table-responsive table-hover">
            <table id="vuzTable" class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>№</th>
                        <th class="hidden-column">id_listedu</th>
                        <th class="hidden-column">id_parent</th>
                        <th>Наименование</th>
                        <th>Адрес</th>
                        <th>Округ</th>
                        <th>Регион</th>
                        <th>Министерство</th>
                    </tr>
                </thead>
                <tbody class="table-hover" id="vuzTableBody">
                    {% for item in vuz %}
                    <tr data-id = "{{ item.id }}">
                        <td>{{ item.id }}</td>
                        <td class="hidden-column">{{ item.id_listedu }}</td>
                        <td class="hidden-column">{{ item.id_parent }}</td>
                        <td>{{ item.name}}</td>
                        <td>{{ item.address }}</td>
                        <td>{{ item.id_district.district }}</td>
                        <td>{{ item.id_region.region }}</td>
                        <td>{{ item.id_ministry.ministry }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">Данные отсутствуют</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <script>
    function filterVuzTable() {
        const programFilter = document.getElementById('vuzFilter').value;
        const districtFilter = document.getElementById('districtFilter').value.toLowerCase();
        const regionFilter = document.getElementById('regionFilter').value.toLowerCase();
        const ministryFilter = document.getElementById('ministryFilter').value.toLowerCase();
        const tableBody = document.getElementById('vuzTableBody');
        const rows = tableBody.getElementsByTagName('tr');
        for (let i = 0; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            if (cells.length > 0) {
                const vuzIdParent = cells[1].textContent.trim();
                const vuzIdListedu = cells[2].textContent.trim();
                const district = cells[5].textContent.toLowerCase();
                const region = cells[6].textContent.toLowerCase();
                const ministry = cells[7].textContent.toLowerCase();

                let vuzMatch = true;

                // Проверка условия фильтрации
                if (programFilter === "Головные") {
                    vuzMatch = (vuzIdParent === vuzIdListedu);
                } else if (programFilter === "Филиалы") {
                    vuzMatch = (vuzIdParent !== vuzIdListedu);
                }
                const districtMatch = districtFilter === '' || district === districtFilter;
                const regionMatch = regionFilter === '' || region === regionFilter;
                const ministryMatch = ministryFilter === '' || ministry === ministryFilter;

                // Установка видимости строки
                rows[i].style.display = vuzMatch && districtMatch && regionMatch && ministryMatch ? 'table-row' : 'none';
            }
        }
    }

    // Обработчик события для фильтра
    document.getElementById('vuzFilter').addEventListener('change', filterVuzTable);
    document.getElementById('districtFilter').addEventListener('change', filterVuzTable);
    document.getElementById('regionFilter').addEventListener('change', filterVuzTable);
    document.getElementById('ministryFilter').addEventListener('change', filterVuzTable);
    </script>

    <script>
    // JavaScript для обработки кликов по строкам таблицы
    document.addEventListener('DOMContentLoaded', function() {
        const rows = document.querySelectorAll('#vuzTable tbody tr');

        rows.forEach(row => {
            row.addEventListener('dblclick', function() {
                const vuzId = this.getAttribute('data-id'); // Получаем значение из атрибута data-id
                window.location.href = `prog/${vuzId}/`; // Перенаправляем на новую ссылку
            });
        });
    });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>